@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", "sans-serif";
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  width: 80%;
  margin: 0px auto;
}

.main {
  background-color: #ffcd9e;
  height: fit-content;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content .text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid black; */
  width: 45%;
}

.content .text h1 {
  font-size: 40px;
  line-height: 60px;
}

.content .text p {
  color: #484848;
  font-size: 22px;
  line-height: 35px;
  text-align: left;
}

.content .text form {
  width: 100%;
}

.content .text form .input {
  border: 2px solid #282828;
  border-radius: 5px;
  padding: 12px;
  width: 50%;
}
.content .text form .input[placeholder] {
  font-size: 18px;
}

.content .text form .btn {
  border: 1px solid #282828;
  border-radius: 5px;
  padding: 12px;
  background-color: #282828;
  color: #ffffff;
  font-size: 18px;
  width: 30%;
}

.content .text span {
  color: #ffffff;
  font-size: 12px;
}

.content .image {
  width: 45%;
  text-align: center;
}

.footer {
  background-color: #282828;
  color: #ffffff;
  padding: 50px 0px;
}

.footer ul {
  list-style: none;
  line-height: 35px;
}
